
body {
  font-family: 'Open Sans', sans-serif !important;
  height: 100vh;
  background-color:rgb(250, 250, 250);
}

.container{
  max-width:1300px;
  margin:0 auto;
  overflow:auto;
  padding:0 40px;
}

a {
  color: #0275d8;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

a:hover{
  text-decoration:none;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

.card {
  border: none;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
  box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}

.text-black{
    color:black;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  -webkit-box-shadow: 0 0 13px 0 rgba(214, 214, 218, 0.44);
  box-shadow: 0 0 13px 0 rgba(198, 198, 199, 0.44);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  width: 100%;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

.resetIcon{
  margin-top: -3px;
  margin-left: -5px;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=password]:focus{
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder,
input[type=password]::placeholder{
  color: #cccccc;
}

input:required {
  box-shadow: none;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
  outline: none;
}

#icon, .img-div {
  width:60%;
  height: auto;
}

.img-div {
  text-align: center;
  margin: 15px;
}

/*COLORS*/
.light-blue-bg{
  background-color: #56baed;
}

#logout-btn{
  margin-right:40px;

}


/*ADD PROJECT TABLE*/
.table {
    width: 100%;
  
}

.spacer {
  height: 1em;
}

#edit-project-title-input, #project-title-input,#add-task-form input[type=text],#edit-task-form input[type=text] {
  width: 100%;
  margin: 0px;
}

#circle{
  background-color: #EBEBEB;
}

/*index.php project table*/
.grid{
    display:grid;
      grid-template-columns:1fr 1fr;
}

.table-top-buttons{
    display:flex;
    justify-content:space-between;
}

.buttons{
    display:flex;
    justify-content:left;      
      }

.buttons a{
    margin-top:5px;
    margin-right:5px;
    font-size:16px;
}

.table-top{
    display:grid;
    grid-template-columns:1fr 7fr 11fr 3fr 2fr 2fr 2fr;
    width:100%;
    border-top:2px solid #C0C2CE;
    border-bottom:2px solid #C0C2CE;   
    padding-left:15px;
     padding-right:13px;
}

.table-top p{
    font-weight:bold;
    position:relative;
    bottom:-7px;
}

.project-item{
     display:grid;
     grid-template-columns:1fr 7fr 11fr 3fr 2fr 2fr 2fr;
     grid-gap:5px;
     padding:5px 7px 9px 2px;
     margin:3px 6px 3px 6px;
     border-bottom:1px solid #E5E6EB;
     align-items: center;  
}

.responsive-row-project{
  display:none;  
}

.project-title{
     word-break: break-word;
     padding-left:3px;
}

.project-item:last-child{
    border-bottom:none;
}

.number-id{
    padding-left:6px;
}

.description{
    padding-left:4px;
}

.project-item span{
    margin-left:10px;
}

.tasks{
    padding-left:15px;
}

.tasks, .pending, .status{
    text-align:center;
}

.action{
    text-align:right;
}

  .task-table-top p{
      font-weight:bold;
    position:relative;
    bottom:-7px;
  }
  
 
  
   .task-table-top{
      display:grid;
     grid-template-columns:40px 50px 2fr 7fr 70px 3fr 2fr 2fr 2fr;
     grid-gap:5px;
     
    border-top:2px solid #C0C2CE;
    border-bottom:2px solid #C0C2CE;   
    padding-left:15px;
     padding-right:13px;
     font-weight:700;
  }
  
  .task-item{
      display:grid;
     grid-template-columns:40px 50px 2fr 7fr 70px 3fr 2fr 2fr 2fr;
     grid-gap:5px;
       padding:5px 0px 9px 0px;
    /* padding:5px 7px 9px 2px; */
   /*  margin:3px 6px 3px 6px; */
    padding-left:15px;
     padding-right:13px;
     border-bottom:1px solid #E5E6EB;
     align-items: center;
     text-align:center;
  }
  
  .responsive-row-task{
      display:none;
  }
  
  .executant{
      width:40px;
  }
  
  .task-description, .task-title{
      text-align:left;
  }
  
  .task-name{
      text-align:left
  }
  
  #userColumn, #rowID2,#status2,#priorities,#created,#updated,#actions2, .task-id, .task-priority{
      text-align:center;
  }
  
  .task-item .action, #actions2{
      text-align:right;
  }
  
  .back-projects-btn{     
      text-align:right;
  }
  
  
  

/*
#description2 {
    width: 20%;
    word-break: break-word;
   
}


#title2 {
    width: 18%;
    word-break: break-word;
    text-align: left;
}


#status2 {
    width: 16%;
}



#actions2 {
    width: 8%;
    text-align: right;
}


.fade-enter-active, .fade-leave-active{
  transition: opacity .5s;
}

.fade-enter, .fade-leave-active{
  opacity: 0
}
*/

.project-title{
    align-text:left;
}


ul li:hover {
  background: #ddd;
}


ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  border-radius:5px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  text-align:center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}


.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  text-align: center;
}

.addBtn:hover {
  background-color: red;
}
.username{
  padding-left:40px;
  padding-top:9px;
}

.search-btn{
 margin-top:5px;
 margin-left:-5px;
}

#add-new-project-btn{
  margin-top:5px;
}


.select{
  margin-top:-2px;
}

.priority{
  margin-top:-1px;
  padding:2px;
}

.search-message-wrap{
    display:flex;
    justify-content:flex-end;
   margin-bottom:10px;

}

.search-message-wrap button{
   outline:none;
   border:none;
   background:transparent;
   margin-left:7px;
   font-size:30px;
}

.search-message-wrap p{
    position:relative;
    top:11px;
}

#status-table {
  width: inherit;
  margin-left: 0;
}

.status-table-header span {
  margin-left: 5px;
}

.status-card a,
.status-card p
{
  width: 100%;
}

.logo-container img {
  width: 100%;
  margin: 29px 0 20px 0;
}

.action-header span{
  margin-right: 7px;
}
#project-user-input-edit-modal::placeholder,
#project-user-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dc3545;
  opacity: 1; /* Firefox */
}

#project-user-input:-ms-input-placeholder,  /* Internet Explorer 10-11 */
#project-user-input-edit-modal:-ms-input-placeholder,
#project-user-input::-ms-input-placeholder, /* Microsoft Edge */
#project-user-input-edit-modal::-ms-input-placeholder {
  color: #dc3545;
}

/*Progress chart*/

.svg-item {
  width: 80%;
  font-size: 8px;
  color: #6c757d;
  margin: 0 auto;
  animation: donutfade 1s;
}

@media (min-width: 55px) {
  .svg-item {
    width: 55px;
  }
}

.donut-ring {
  stroke: #EBEBEB;
}

.donut-segment-2 {
  stroke: #28a745;
  animation: donut1 3s;
}

.segment-1{fill:#ccc;}
.segment-2{fill:#28a745;}

.donut-percent {
  animation: donutfadelong 1s;
  color: #b3b3b3;
}

@keyframes donutfadelong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes donut1 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dashoffset: var(0, --p);
  }
}

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
            
      /*index.php*/
           
      .table-top, .task-table-top{
          display:none;       
      }
          
      header #user a{
          margin-top:5px;      
          display:flex;
          justify-content:space-between;
          flex-direction:row;
      }
      
      header #user a i{
          position:relative;
          top:-5px;
          display:flex;
          justify-content:space-between;
          flex-direction:row;
      }
      
      #logout-btn{
          position:relative;
          bottom:-3px;
      }
      
      
      .project-info i, .task-info i{
          font-size:25px;
          margin-top:20px;
      }
        
      .table-top-buttons{
          flex-wrap: wrap;
          align-content: center;         
      }
       
      .buttons{
          display:flex;
          justify-content:center;
          width:100%;                  
      }
             
      .buttons button{
          margin-top:10px;
          margin-bottom:10px;
      }
      .buttons a{
        margin-top:5px;
        margin-right:10px;

      }
      
      #project-search-form{        
          margin: 0px 0px 0px 13px;
           display:flex;
          justify-content:center;    
      }

      .responsive-row-project, .responsive-row-task{
       display:block;  
      }
      
      .project-item, .task-item{
          display:grid;
          grid-template-columns:1fr;
          grid-template-row:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          width:100%;     
          border-bottom:1px solid black;    
      }
      
      .participants{
          flex-direction: column;
          margin-left:12px;
      }
      
      .participants p{
          margin:0px 0px 0px -8px;         
      }
      
      .tasks, .pending, .status,.number-id,.project-title, .description, .number-id,
      .task-id, .task-priority, .task-status, .task-start, .task-edit, .executants{
          padding-top:10px;
          display:flex;
          flex-direction: row;
          justify-content:space-between;        
        }
                    
        .executants{
            padding-bottom:10px;
        }
        
        .executants p{
            position:relative;
            bottom:-6px;
        }
        
        .task-description, .task-name,  .project-title, .description{
             padding:10px 0px 10px 0px ;
          display:flex;
          flex-direction: column;
          justify-content:space-between; 
          text-align:left;
        }
        
       
                   
        .number-id{
            margin-left:-5px;
        }
      
        .action{
            text-align:center !important;     
        }
              
      .tasks p{
          margin-left:-15px;
      }
      
      .action a{
            padding:3px 1px 10px 1px;
            font-size:1.5rem;
      }
    
      .project-item > div, .task-item > div{
          border-bottom:1px solid #C0C2CE;
      }
  
      .task-table-top-buttons, .participants {
           text-align:center;
           padding:13px;
      }

      .back-projects-btn{     
       text-align:center;
  }
  
  .project-title{
      text-align:left;
  }
  
  .project-name{
    text-align:center;
  }
  
  .display-none{
      display:none;
  }
         
  }
  
  @media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 960px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .table-top{
    display:grid;
    grid-template-columns:0.5fr 5fr 8fr 3fr 3fr 2fr 3fr;
    width:100%;
    border-top:2px solid #C0C2CE;
    border-bottom:2px solid #C0C2CE;   
    padding-left:15px;
     padding-right:13px;
}
      
      
        .project-item{
     display:grid;
     grid-template-columns:0.5fr 5fr 8fr 3fr 3fr 2fr 3fr;
     grid-gap:5px;
     padding:5px 7px 9px 2px;
     margin:3px 6px 3px 6px;
     border-bottom:1px solid #E5E6EB;
     align-items: center;  
}






 .task-table-top{
      display:grid;
     grid-template-columns:40px 40px 80px 120px 40px 80px 70px 70px 50px;
     grid-gap:5px;
     
    border-top:2px solid #C0C2CE;
    border-bottom:2px solid #C0C2CE;   
    padding-left:15px;
     padding-right:13px;
     font-weight:700;
  }
  
  .task-item{
      display:grid;
     grid-template-columns:40px 40px 80px 120px 40px 80px 70px 70px 50px;
     grid-gap:5px;
       padding:5px 0px 9px 0px;
    /* padding:5px 7px 9px 2px; */
   /*  margin:3px 6px 3px 6px; */
    padding-left:15px;
     padding-right:13px;
     border-bottom:1px solid #E5E6EB;
     align-items: center;
     text-align:center;
       word-break: break-all;
  }


.
  }